
 /* This is for the upper navigation */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
    margin-inline-end: auto;
  }
  
  body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6;
}
  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    height: auto;
  }
  
  .nav-wrapper {
    width: 100%;
    /* position: -webkit-sticky; Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 30px;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    height: 70px;
    overflow: hidden;
  }
  
  .navbar img {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-self: end;
    
  }
  
  .nav-item a {
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #3498db;
  }
  

  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 620px) { 
    .features {
      flex-direction: column;
      padding: 10px;
    }
  } 

  

  /* This is for the side navigation */

  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    padding: 30px 0px;
    float: left;
    margin:right;
    /* margin-inline-end: auto; */
    /* background: rgb(245, 234, 234); */
  }
  
  .wrapper .sidebar ul li{
    padding: 30px
  }    
  
  .wrapper .sidebar ul li a{
    color: black;
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #3498db;
  }
  
  @media (max-height: 500px){
    .social_media{
      display: none !important;
    }
  }


  /* This is for the footer */

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
   color: #3B5998;
}

.fa-twitter {
   color: #55ACEE;
}

.fa-linkedin {
   color: #007bb5;
}

.fa-youtube {
   color: #bb0000;
}

.fa-instagram {
   color: #125688;
}
footer{
   position: relative;
   width: 100%;
   height: auto;
   padding: 50px 90px;
   background: #111;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   top: 1000px;
}
footer .container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction: row;
}

footer .container .sec {
   margin-right: 30px;
}

footer .container .sec.aboutus,
footer .container .sec.contact{
   width: 40%;
}

footer .container h2{
   position: relative;
   color: #fff;
   font-weight: 500;
   margin-bottom: 15px;
}

footer .container h2:before{
   content: '';
   position: absolute;
   bottom: -5px;
   left: 0;
   width: 50px;
   height: 2px;
   background:#f00;
}

footer p{
   color:#999;
}
.sci{
   margin-top:20px;
   display: flex;
}

.sci li{
   list-style: none;
}

.sci li a{
   display: inline-block;
   width: 40px;
   height: 40px;
   background: #222;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   text-decoration: none;
   border-radius: 4px;
}

.sci li a:hover{
   background: #f00;
}

.sci li a .fa{
   color:#fff;
   font-size:20px; 
}

.contact .info{
   position: relative;

}

.contact .info li{
   display:flex;
   margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
   color:#fff;
   font-size: 20px;
   margin-right:10px;
}

.contact .info li span{
   color:#999;
}
.contact .info li a{
   color: #999;
   text-decoration: none;
}
.contact .info li a:hover{
   color:#fff;
}

.copyrightText{
   width: 100%;
   background: #181818;
   padding: 8px 100px;
   text-align: center;
   color: #999;
}

@media (max-width: 991px){
   footer{
       padding: 40px;
   }
   footer .container{
       flex-direction: column;
   }
   footer .container .sec{
       margin-right: 0;
       margin-bottom: 40px;
   }
   
   footer .container .sec.aboutus,
   .contact{
       width: 100%;
   }
   .copyrightText{
       padding: 8px 40px;
   }
}